<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cat">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Registeration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/loginn">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
